:root {
  --bg: #f5f5f5;
  --text: #bed4a4;
  --mainColor: #2c4d34;
  --altColor: #75916c;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--bg);
}

.container {
  width: 100%;
  max-width: 1200px;
  margin: auto;
  padding: 0 20px;
  display: flex;
  flex-direction: column;
  gap: 50px;
}

@media (max-width: 992px) {
  .container {
    max-width: 900px;
  }
}

@media (max-width: 768px) {
  .container {
    max-width: 700px;
  }
}

@media (max-width: 480px) {
  .container {
    max-width: 100%;
  }
}
